<html>
<head>
    <title>GROT</title>

    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    {% block head_js %}
    {% end %}
</head>

<body>
    <div class="top">
        <div class="top_box">
            <h1>GROT</h1>
            <img id="by_stxnext" src="/static/img/by_stxnext.png"/>
        </div>
    </div>
    <div class="container">
        <div class="column center">
            <div class="main">
                {% block content %}{% end %}
            </div>
        </div>
    </div>
</body>
</html>
