{% extends '__base.html' %}

{% block head_js %}
<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
<script type="text/javascript" src="http://backbonejs.org/backbone-min.js"></script>
<script type="text/javascript" src="/static/js/game.js"></script>
{% end %}

{% block content %}
<div class="score-board">
    <ul>
        <li class="head">
            <div class="avatar">&nbsp;</div>
            <div class="name">Player</div>
            <div class="moves">Moves</div>
            <div class="score">Score</div>
        </li>
    </ul>
</div>

<script>
    var game = new Game({
        id: 0
    });
    var scoreboard = new ScoreBoard({
        model: game,
        el: $('.score-board ul'),
    });

    game.players.reset([
        {% for player in game.players %}
        new Player({
            id: '{{ player.user }}',
            score: '{{ player.score }}',
            moves: '{{ player.moves }}',
        }),
        {% end %}
    ]);
</script>
{% end %}
