{% extends '__base.html' %}

{% block head_js %}
<script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
<script type="text/javascript" src="http://backbonejs.org/backbone-min.js"></script>
<script type="text/javascript" src="/static/js/game.js"></script>
{% end %}

{% block content %}
<h2>Score Board</h2>

<script>
    var game = new Game({
        id: {{ game.id }}
    });
    var scoreboard = new ScoreBoard({
        model: game,
        el: $('<div>').appendTo('.main'),
    });

    game.players.reset([
        {% for player in game.players %}
        new Player({
            id: '{{ player.user.id }}',
            name: '{{ player.user.name }}',
            score: '{{ player.score }}',
            moves: '{{ player.moves }}',
        }),
        {% end %}
    ]);
</script>
{% end %}
