{% extends '__base.html' %}

{% block head_js %}
<script type="text/javascript" src="/static/js/underscore-min.js"></script>
<script type="text/javascript" src="/static/js/backbone-min.js"></script>
<script type="text/javascript" src="/static/js/game.js"></script>
{% end %}

{% block content %}
<div class="score-board">
    <ul class="clearfix">
        <li class="head clearfix">
            <div class="avatar">&nbsp;</div>
            <div class="position">&nbsp;</div>
            <div class="name">Player</div>
            <div class="moves">Moves</div>
            <div class="score">Score</div>
        </li>
    </ul>
    <div class="clearfix">&nbsp;</div>
</div>

<script>
    var game = new Game({
        id: {{ game.id }}
    });
    var scoreboard = new ScoreBoard({
        model: game,
        el: $('.score-board ul'),
    });

    game.players.reset([
        {% for player in game.players %}
        new Player({
            id: '{{ player.user.id }}',
            name: '{{ player.user.name }}',
            score: '{{ player.score }}',
            moves: '{{ player.moves }}',
        }),
        {% end %}
    ]);

    {% if user and user.admin %}
    $(function() {
        $('.top h1').click(function() {
            $.ajax({
                type: 'PUT'
            });
        });
    });
    {% end %}
</script>
{% end %}
