{% extends '__base.html' %}

{% block content %}
    <h2>Games</h2>

    <ul>
    {% for game_room in rooms %}
        <li><a href="/games/{{ game_room.room_id }}">{{ game_room.title }}</a> by {{ game_room.author }}</li>
    {% end %}
    </ul>

    {% if total_pages > 1 %}
    <div class="pagination pagination-centered">
        <ul>

            {% if current_page >= 3 %}
                <li><a href="/games?page=1">1</a></li>
            {% end %}

            {% if current_page >= 5 %}
                <li>...</li>
            {% end %}

            {% if current_page-2 >= 2 %}
                <li><a href="/games?page={{current_page - 2}}">{{current_page - 2}}</a></li>
            {% end %}

            {% if current_page-1 >= 1 %}
                <li><a href="/games?page={{current_page - 1}}">{{current_page - 1}}</a></li>
            {% end %}

            <li class="active">{{current_page}}</li>

            {% if current_page <= total_pages - 1 %}
                <li><a href="/games?page={{current_page + 1}}">{{current_page + 1}}</a></li>
            {% end %}

            {% if current_page <= total_pages - 2 %}
                <li><a href="/games?page={{current_page + 2}}">{{current_page + 2}}</a></li>
            {% end %}

            {% if current_page <= total_pages - 3 %}
                <li>...</li>
            {% end %}

            {% if current_page <= total_pages %}
                <li><a href="/games?page={{total_pages + 1}}">{{total_pages + 1}}</a></li>
            {% end %}

        </ul>
    </div>
    {% end %}
{% end %}