{% extends '__base.html' %}

{% block head_js %}
<script type="text/javascript" src="/static/js/underscore-min.js"></script>
<script type="text/javascript" src="/static/js/backbone-min.js"></script>
<script type="text/javascript" src="/static/js/visibility.min.js"></script>
<script type="text/javascript" src="/static/js/game.js"></script>
{% end %}

{% block content %}
<h2>Players</h2>

<div id="player1">
    <select><option value="">-- select --</option></select>
    <div></div>
</div>

<script>
    var game = new Game({
        id: '{{ game_room.room_id }}'
    });

    game.players.on('add', function(model, collection, options) {
        $('select').append($('<option>').val(model.id).text(model.get("name")));
    });

    {% for player in game_room.players %}
    game.players.add([
        new Player({
            id: '{{ player.get_id() }}',
            name: '{{ player.get_name() }}',
        }),
    ]);
    {% end %}

    var player1 = new PlayerBoard({
        collection: game.players,
        el: $('div#player1 div'),
    })

    $('div#player1 select').on('change', function(ev) {
        player1.show(game.players.get(ev.target.value));
    })
</script>
{% end %}
